[submodule "hcxselect"]
	path = hcxselect
	url = git://github.com/jgehring/hcxselect.git
[submodule "mongoose"]
	path = mongoose
	url = git://github.com/nurettin/mongoose.git
[submodule "re2"]
	path = re2
	url = git://github.com/nelhage/re2.git
